.chat-main
  .chat-main__main-header
    .chat-main__main-header__left
      .chat-main__main-header__left__group
        Test
      .chat-main__main-header__left__member
        member
    .chat-main__main-header__right__edit
      = link_to "#" do
        Edit

  .chat-main__messages
    .message
      .message__info
        .message__info__group
          group
        .message__info__time
          2020/05/14(Thr) 11:45:09
      .message__text
        hello
    .message
      .message__info
        .message__info__group
          group
        .message__info__time
          2020/05/14(Thr) 11:45:09
      .message__text
        hello
  .chat-main__form
    .form
      %input.form__message
        %label.form__message__img
          = icon('fa','image',class: 'icon')
          %input.hidden{type: 'file'}
      %input.form__send{type: 'submit',value: 'Send'}